.social_icon li a {
    height: 40px;
    width: 40px;
    text-align: center;
    border: 1px solid #677fb5;
    display: block;
    line-height: 40px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 400ms linear 0s;
    color: #677fb5;
    text-decoration: none
  }

  .social_icon li:nth-child(2) a {
    color: #70c2e9;
    border-color: #70c2e9;
  }
  
  .social_icon li:nth-child(2):hover a {
    background: #70c2e9;
  }
  
  
  .social_icon li:nth-child(4) a {
    color: #d34836;
    border-color: #d34836;
  }
  
  .social_icon li:nth-child(4):hover a {
    background: #d34836;
  }
  
  .social_icon li:nth-child(3) a {
    color: #007ab9;
    border-color: #007ab9;
  }
  
  .social_icon li:nth-child(3):hover a {
    background: #007ab9;
  }
  .social_icon li:hover a {
    background: #677fb5;
    color: #fff;
  }